<mat-toolbar color="primary" class="!sticky !top-0 !z-50">
    <div class="h-8 w-8 rounded-xl bg-pink-500 grid place-items-center">
        <mat-icon class="text-white">support_agent</mat-icon>
    </div> <a routerLink="/" class="font-semibold tracking-wide">Helpdesk</a>
    <button mat-icon-button (click)="menuToggle.emit()" class="mr-2">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="flex-1"></span>


    <ng-container *ngIf="userName$ | async as userName; else guest">
        <span class="mr-4 hidden sm:inline">Hi, {{ userName }}!</span>
        <button mat-button (click)="auth.logout()">
            <mat-icon class="mr-1">logout</mat-icon>
            Logout
        </button>
    </ng-container>

    <ng-template #guest>
        <a mat-button routerLink="/login">
            <mat-icon class="mr-1">login</mat-icon>
            Login
        </a>
    </ng-template>
</mat-toolbar>

<!-- Banner offline -->
<div *ngIf="offline$ | async" class="offline-banner">
    <span class="dot"></span>
    Offline • read-only (server indisponibil)
</div>